# .gitignore
# Valentin Perignon (2019)

# ---------- Race -------------
# Ignore all
*
# Unignore all with extensions
!*.*

!race-server
*.log

# ---------- General ----------

# Executables
*.exe
*.out

# ---------- C ----------

# Object files
*.o

# Libraries
*.a

# ---------- Java ----------
# Compiled class file
*.class

# ---------- VisualStudioCode ----------
.vscode/*
