# .gitignore
# Valentin Perignon (2019)

# ---------- Race -------------
race-dumb
*.log

# ---------- General ----------

# Executables
*.exe
*.out

# ---------- C ----------

# Object files
*.o

# Libraries
*.a

# ---------- Java ----------
# Compiled class file
*.class

# ---------- VisualStudioCode ----------
.vscode/*
